<html ng-app="defaultModule" manifest="demo.appcache" lang="en" dir="ltr" class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths ng-scope">
  <head>
    <style>
      .LGLeeN-keyboard-shortcuts-view {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex
      }

      .LGLeeN-keyboard-shortcuts-view table,
      .LGLeeN-keyboard-shortcuts-view tbody,
      .LGLeeN-keyboard-shortcuts-view td,
      .LGLeeN-keyboard-shortcuts-view tr {
        background: inherit;
        border: none;
        margin: 0;
        padding: 0
      }

      .LGLeeN-keyboard-shortcuts-view table {
        display: table
      }

      .LGLeeN-keyboard-shortcuts-view tr {
        display: table-row
      }

      .LGLeeN-keyboard-shortcuts-view td {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: table-cell;
        color: #000;
        padding: 6px;
        vertical-align: middle;
        white-space: nowrap
      }

      .LGLeeN-keyboard-shortcuts-view td:first-child {
        text-align: end
      }

      .LGLeeN-keyboard-shortcuts-view td kbd {
        background-color: #e8eaed;
        border-radius: 2px;
        border: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: inherit;
        display: inline-block;
        font-family: Google Sans Text, Roboto, Arial, sans-serif;
        line-height: 16px;
        margin: 0 2px;
        min-height: 20px;
        min-width: 20px;
        padding: 2px 4px;
        position: relative;
        text-align: center
      }
    </style>
    <style>
      .gm-control-active>img {
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        display: none;
        left: 50%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
      }

      .gm-control-active>img:nth-child(1) {
        display: block
      }

      .gm-control-active:focus>img:nth-child(1),
      .gm-control-active:hover>img:nth-child(1),
      .gm-control-active:active>img:nth-child(1),
      .gm-control-active:disabled>img:nth-child(1) {
        display: none
      }

      .gm-control-active:focus>img:nth-child(2),
      .gm-control-active:hover>img:nth-child(2) {
        display: block
      }

      .gm-control-active:active>img:nth-child(3) {
        display: block
      }

      .gm-control-active:disabled>img:nth-child(4) {
        display: block
      }

      sentinel {}
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans_old:400,500,700|Google+Sans+Text_old:400,500,700&amp;lang=en">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Text_old:400&amp;text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93&amp;lang=en">
    <style>
      .gm-style .gm-style-cc a,
      .gm-style .gm-style-cc button,
      .gm-style .gm-style-cc span,
      .gm-style .gm-style-mtc div {
        font-size: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
      }

      .gm-style .gm-style-cc a,
      .gm-style .gm-style-cc button,
      .gm-style .gm-style-cc span {
        outline-offset: 3px
      }

      sentinel {}
    </style>
    <style>
      @media print {

        .gm-style .gmnoprint,
        .gmnoprint {
          display: none
        }
      }

      @media screen {

        .gm-style .gmnoscreen,
        .gmnoscreen {
          display: none
        }
      }
    </style>
    <style>
      .dismissButton {
        background-color: #fff;
        border: 1px solid #dadce0;
        color: #1a73e8;
        border-radius: 4px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        height: 36px;
        cursor: pointer;
        padding: 0 24px
      }

      .dismissButton:hover {
        background-color: rgba(66, 133, 244, .04);
        border: 1px solid #d2e3fc
      }

      .dismissButton:focus {
        background-color: rgba(66, 133, 244, .12);
        border: 1px solid #d2e3fc;
        outline: 0
      }

      .dismissButton:focus:not(:focus-visible) {
        background-color: #fff;
        border: 1px solid #dadce0;
        outline: none
      }

      .dismissButton:focus-visible {
        background-color: rgba(66, 133, 244, .12);
        border: 1px solid #d2e3fc;
        outline: 0
      }

      .dismissButton:hover:focus {
        background-color: rgba(66, 133, 244, .16);
        border: 1px solid #d2e2fd
      }

      .dismissButton:hover:focus:not(:focus-visible) {
        background-color: rgba(66, 133, 244, .04);
        border: 1px solid #d2e3fc
      }

      .dismissButton:hover:focus-visible {
        background-color: rgba(66, 133, 244, .16);
        border: 1px solid #d2e2fd
      }

      .dismissButton:active {
        background-color: rgba(66, 133, 244, .16);
        border: 1px solid #d2e2fd;
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15)
      }

      .dismissButton:disabled {
        background-color: #fff;
        border: 1px solid #f1f3f4;
        color: #3c4043
      }

      sentinel {}
    </style>
    <style>
      .gm-style-moc {
        background-color: rgba(0, 0, 0, .45);
        pointer-events: none;
        text-align: center;
        -webkit-transition: opacity ease-in-out;
        transition: opacity ease-in-out
      }

      .gm-style-mot {
        color: white;
        font-family: Roboto, Arial, sans-serif;
        font-size: 22px;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%)
      }

      sentinel {}
    </style>
    <style>
      .gm-style img {
        max-width: none;
      }

      .gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
    </style>
    <style type="text/css">
      @charset "UTF-8";

      [ng\:cloak],
      [ng-cloak],
      [data-ng-cloak],
      [x-ng-cloak],
      .ng-cloak,
      .x-ng-cloak,
      .ng-hide:not(.ng-hide-animate) {
        display: none !important;
      }

      ng\:form {
        display: block;
      }

      .ng-animate-shim {
        visibility: hidden;
      }

      .ng-anchor {
        position: absolute;
      }
    </style>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#282D7D">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:image">
    <meta property="og:description">
    <meta http-equiv="Cache-control" content="public">
    <!-- Favicon -->
    <script type="text/javascript" src="/ruxitagentjs_ICA2SVfghjqrux_10223210811140219.js" data-dtconfig="rid=RID_753457406|rpid=-1679097630|domain=edu.gov.qa|reportUrl=/rb_1266574e-15ac-4767-b98e-fa38e26f8839|app=425643666f1a9c16|rcdec=1209600000|featureHash=ICA2SVfghjqrux|vcv=2|rdnt=1|uxrgce=1|bp=3|srmcrv=10|cuc=7l4nnik3|mel=100000|dpvc=1|md=mdcc1=abody ^rb div.header-area.header-sticky.header-area--absolute ^rb div ^rb div.row.bg-3naby ^rb div:nth-child(3) ^rb div ^rb div ^rb a|ssv=4|lastModification=1726562715719|dtVersion=10223210811140219|srmcrl=1|tp=500,50,0,1|uxdcw=1500|vs=2|agentUri=/ruxitagentjs_ICA2SVfghjqrux_10223210811140219.js"></script>
    <link rel="icon" href="https://eduservices.edu.gov.qa/assets/images/favicon.png">
    <title> MOEHE Public Services Portal </title>
    <link href="https://eduservices.edu.gov.qa/asset/Content/bootstrap.min.css" rel="stylesheet">
    <link href="https://eduservices.edu.gov.qa/asset/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://eduservices.edu.gov.qa/assets/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="https://eduservices.edu.gov.qa/asset/Content/_style.css" rel="stylesheet" type="text/css">
    <link href="https://eduservices.edu.gov.qa/asset/Content/_style_en.css" rel="stylesheet" type="text/css">
    <link href="https://eduservices.edu.gov.qa/asset/Content/slidebars_en.css" rel="stylesheet" type="text/css" media="(pointer: coarse)">
    <link href="https://eduservices.edu.gov.qa/asset/Content/custom_layout_en.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://eduservices.edu.gov.qa/asset/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="https://eduservices.edu.gov.qa/asset/Content/owl.theme.default.min.css">
    <link href="https://eduservices.edu.gov.qa/css/default.css" rel="stylesheet">
    <script src="https://fs-nsis.edu.gov.qa/CDN/html5/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
    <script src="https://fs-nsis.edu.gov.qa/CDN/html5/angularjs/1.2.16/angular-route.js" type="text/javascript"></script>
    <script src="https://fs-nsis.edu.gov.qa/CDN/html5/angularjs/1.4.3/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="https://fs-nsis.edu.gov.qa/CDN/html5/angular-i18n/1.5.0/angular-locale_en.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-NYCS9GYQ3X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-NYCS9GYQ3X');
    </script>
    <script src="/ControlLibraryJS/js/k12net.min.js?v=1601-01-01T03:00:00" type="text/javascript"></script>
    <script src="../../js/EduServices.js?v=2025-01-21T15:44:57" type="text/javascript"></script>
    <script src="../../js/Extensions.EduServices.js?v=2024-10-19T16:26:26" type="text/javascript"></script>
    <script src="../../js/server-variables.aspx" type="text/javascript"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;key=AIzaSyAZHrNjNteKwwldkLRBRYIpNXWyce7z6n8&amp;language=en&amp;region=en" type="text/javascript"></script>
    <script src="/WebParts/PreEnrollStudent/Controllers/models.js?v=2025-01-05T10:21:27" type="text/javascript"></script>
    <script src="/WebParts/PreTransferStudent/Controllers/default.js?v=2025-01-21T15:44:59" type="text/javascript"></script>
    <script src="/WebParts/PreTransferStudent/Controllers/list.js?v=2025-01-21T15:44:59" type="text/javascript"></script>
    <script src="/WebParts/PreTransferStudent/Controllers/change.js?v=2025-01-21T15:44:59" type="text/javascript"></script>
    <script src="/WebParts/PreTransferStudent/Controllers/select.js?v=2025-01-21T15:44:59" type="text/javascript"></script>
    <script src="Controllers/upload.js?v=2025-01-23T16:43:05" type="text/javascript"></script>
    <script src="/WebParts/PreTransferStudent/Controllers/approve.js?v=2025-01-21T15:44:59" type="text/javascript"></script>
    <script src="Controllers/override.js?v=2025-01-23T16:43:05" type="text/javascript"></script>
    <script src="/ControlLibraryJS/js/atlas.html-controls.js?v=1601-01-01T03:00:00" type="text/javascript"></script>
    <script src="/ControlLibraryJS/js/common-directives.js?v=1601-01-01T03:00:00" type="text/javascript"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/59/6/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/59/6/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/59/6/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/59/6/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/59/6/marker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/59/6/controls.js"></script>
  </head>
  <body class="modal-open" style="padding-right: 15px;">
    <div canvas="container">
      <header>
        <div class="thead  row align-items-center show_mb_header">
          <div class="col-lg-12 col-md-12 col-sm-12 ">
            <img class="logoSelector img-fluid" alt="logo" style="max-height: 75px">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="thead align-items-center show_dt_header web_head">
          <div class="container-fluid container-fluid--cp-150">
            <div class="row">
              <div class="col-lg-3 col-md-12 col-sm-12 ">
                <a href="/" target="_self">
                  <img class="logoSelector img-fluid" style="min-height: 75px">
                </a>
              </div>
              <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg navbar-light nv_custom" style="border-radius: 5px">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active" style="color: #fff;">
                        <a class="nav-link" href="/" target="_self" style="color: #fff; font-size: 20px;">
                          <i class="fa fa-home"></i>
                        </a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" target="_self" id="navbardropFAQ" data-toggle="dropdown" style="color: #fff; max-width: 140px"> FAQ's </a>
                        <div class="dropdown-menu">
                          <a href="/FAQ/hr.aspx" class="dropdown-item"> Human Resource </a>
                          <a href="/FAQ/Voucher.aspx" class="dropdown-item"> Educational Vouchers </a>
                          <a href="/FAQ/Scholarship.aspx" class="dropdown-item"> Scholarships </a>
                          <a href="/FAQ/Pso.aspx" class="dropdown-item"> Private Schools </a>
                          <a href="/FAQ/SchoolAffair.aspx" class="dropdown-item"> School Affairs </a>
                          <a href="/FAQ/UniEquCertificate.aspx" class="dropdown-item"> University Degrees Equivalency </a>
                        </div>
                      </li>
                      <li class="nav-item dropdown" style="display: none">
                        <a class="nav-link dropdown-toggle" href="#" target="_self" id="navbardropManual" data-toggle="dropdown" style="color: #fff; max-width: 140px"> User's Manual </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%A7%D8%B5%D8%AF%D8%A7%D8%B1%20%D8%A7%D9%84%D8%B4%D9%87%D8%A7%D8%AF%D8%A7%D8%AA.pdf" target="_blank"> Certificate issuance service </a>
                          <a class="dropdown-item" href="https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%B1%D8%B3%D9%88%D9%85%20%D8%A7%D9%84%D9%83%D8%AA%D8%A8%20%D9%88%20%D8%A7%D9%84%D9%85%D9%88%D8%A7%D8%B5%D9%84%D8%A7%D8%AA.pdf" target="_blank"> Books and transportation fees </a>
                          <a class="dropdown-item" href="https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%B1%D8%B3%D9%88%D9%85%20%D8%AA%D8%B3%D8%AD%D9%8A%D9%84-%D8%AA%D8%B9%D9%84%D9%8A%D9%85%20%D8%A7%D9%84%D9%83%D8%A8%D8%A7%D8%B1.pdf" target="_blank"> Registration fee service - Adult Education </a>
                          <a class="dropdown-item" href=" https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%A7%D9%84%D8%AA%D8%AD%D9%82%D9%82%20%D9%85%D9%86%20%D8%A7%D9%84%D8%B4%D9%87%D8%A7%D8%AF%D8%A7%D8%AA.pdf" target="_blank"> Certificate Verification Service </a>
                          <a class="dropdown-item" href="https://certificate.edu.gov.qa/Lists/HETemplates/%D8%A7%D9%84%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A5%D8%B1%D8%B4%D8%A7%D8%AF%D9%8A%20-%20%D8%A7%D9%84%D9%85%D8%B3%D8%AA%D8%AF%D8%A7%D8%AA%20%D8%A7%D9%84%D9%85%D8%B7%D9%84%D9%88%D8%A8%D8%A9%20%D9%84%D9%85%D8%B9%D8%A7%D8%AF%D9%84%D8%A9%20%D8%A7%D9%84%D8%B4%D9%87%D8%A7%D8%AF%D8%A7%D8%AA.pdf" target="_blank"> University degree equivalency service </a>
                          <a class="dropdown-item" href="https://certificate.edu.gov.qa/Lists/HETemplates/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%20%D9%86%D8%B8%D8%A7%D9%85%20%D9%85%D8%B9%D8%A7%D8%AF%D9%84%D8%A9%20%D8%A7%D9%84%D8%B4%D9%87%D8%A7%D8%AF%D8%A7%D8%AA%20%D8%A7%D9%84%D9%85%D8%AF%D8%B1%D8%B3%D9%8A%D8%A9.pdf" target="_blank"> School certificate equivalency service </a>
                          <a class="dropdown-item" href="https://fs-nsis.edu.gov.qa/EduServices/Transfer%20user%20manual.pdf" target="_blank"> Online transfer service in public schools. </a>
                          <a class="dropdown-item" href="https://fs-nsis.edu.gov.qa/EduServices/Registration%20user%20manual.pdf" target="_blank"> Online registration service in public schools </a>
                          <a class="dropdown-item" href="https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%A7%D8%B3%D8%AA%D8%AB%D9%86%D8%A7%D8%A1%20%D8%A3%D8%A8%D9%86%D8%A7%D8%A1%20%D8%A7%D9%84%D9%85%D9%82%D9%8A%D9%85%D9%8A%D9%86%20%D8%A7%D9%84%D8%B9%D8%A7%D9%85%D9%84%D9%8A%D9%86%20%D8%A8%D8%A7%D9%84%D9%82%D8%B7%D8%A7%D8%B9%20%D8%A7%D9%84%D8%AE%D8%A7%D8%B5%20%D9%84%D8%A5%D9%84%D8%AD%D8%A7%D9%82%D9%87%D9%85%20%D8%A8%D8%A7%D9%84%D9%85%D8%AF%D8%A7%D8%B1%D8%B3%20%D8%A7%D9%84%D8%AD%D9%83%D9%88%D9%85%D9%8A%D8%A9.pdf" target="_blank"> Excemption to enroll children of residents employed in the private sector in public schools </a>
                          <a class="dropdown-item" href="https://fs-nsis.edu.gov.qa/EduServices/Extra%20service%20user%20manual.pdf" target="_blank"> Additional services for student registration and transfer in public schools </a>
                        </div>
                      </li>
                      <li class="nav-item active" style="color: #fff;">
                        <a class="nav-link" href="https://surveys.education.qa/s/FQ8SIY/" target="_blank" style="color: #fff; font-size: 14px;"> Submit a Request to H.E. the Minister </a>
                      </li>
                    </ul>
                    <form class="form-inline ng-pristine ng-valid">
                      <a class="nav-link" href="#" target="_self" style="color: #fff; font-size: 14px;">
                        <i class="fa fa-user"></i> t-hu.ahmed </a>|&nbsp; <div style="position: relative;">
                        <a class="nav-link" href="/WebParts/Notifications" target="_self" style="color: #fff; font-size: 14px;">
                          <i class="fa fa-commenting" aria-hidden="true" style="color: #fff"></i>
                          <span id="UnreadNotificationCount" class="badge badge-light" style="position: absolute; top: 0px; right: 0px; display: none;"></span> Notifications </a>
                      </div> |&nbsp; <a class="nav-link" href="/Logout.aspx" target="_self" style="color: #fff; font-size: 14px;"> Logout </a>|&nbsp; <a class="nav-link" target="_self" href="#" style="color: #fff; font-size: 20px;" id="increaseFontButton">+ <i class="fa fa-font" aria-hidden="true"></i>
                      </a>
                      <a class="nav-link" target="_self" href="#" style="color: #fff; font-size: 18px;" id="decreaseFontButton">- <i class="fa fa-font" aria-hidden="true"></i>
                      </a> |&nbsp; <a class="nav-link" target="_self" href="#" style="color: #fff; font-size: 16px;" id="bwButton">
                        <i class="fa fa-eye"></i>
                      </a>&nbsp; <a class="nav-link" href="javascript:toggleLanguage()" style="color: #fff; font-size: 16px;"> عربي</a>
                    </form>
                  </div>
                </nav>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </header>
      <div id="content_fade"></div>
      <audio id="player" src="/asset//Content/click.mp3?258" preload="auto"></audio>
      <div id="content" class="container-fluid container-fluid--cp-150 mb-3">
        <div class="preloader-active open_tm_preloader preloader show_mobile hide_web loaded">
          <div class="loader book">
            <div class="page"></div>
          </div>
        </div>
        <div style="min-height: 600px">
          <div class="container-fluid container-fluid--cp-150 breadcrump">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="payment-hero-hero__content section-space--mt_30">
                    <div class="row justify-content-md-center">
                      <div class="col-lg-12">
                        <div class="section-title ection-space--mb_10">
                          <h4 class="font-weight--bold mb-15 wow move-up animated" style="visibility: visible;"></h4>
                          <div class="breadcrumb-item">
                            <span class="">
                              <a href="/"></a>
                            </span>
                            <div style="display: none">
                              <i class="fa fa-angle-right"></i>
                              <span class="">
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#under-construction"></a>
                              </span>
                            </div>
                            <i class="fa fa-angle-right"></i>
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ngView:  -->
          <div ng-view="" class="ng-scope">
            <loading ng-show="ViewModel.DataContext.DomainContext.IsLoading()" class="ng-scope ng-hide">
              <div class="loading">
                <i class="fas fa-circle-notch fa-spin"></i>
              </div>
            </loading>
            <div class="container ng-scope">
              <div class="alert alert-info">
                <p class="ng-binding">
                  <strong class="ng-binding">Student QID number::</strong> 31163406819
                </p>
                <p class="ng-binding">
                  <strong class="ng-binding">Student Name:</strong> HAMAD MOHAMED S A AL-ASKAR
                </p>
                <p class="ng-binding">
                  <strong class="ng-binding">Selected School::</strong> Qatar Science and Technology Secondary School for Boys
                </p>
                <br>
                <p>
                  <span ng-bind="ViewModel.Resources.InstructionUpload" class="ng-binding">Upload the below required files then click “Next". File size limit is 4MB.</span>
                </p>
              </div>
              <div>
                <!-- ngRepeat: requiredDocument in ViewModel.RequiredDocuments -->
                <div class="form-group row required ng-scope" ng-repeat="requiredDocument in ViewModel.RequiredDocuments">
                  <label class="control-label col-sm-2" for="FileReportCard">
                    <span ng-bind="ViewModel.Resources[requiredDocument.Code]" class="ng-binding">Report Card</span>
                    <span class="badge badge-danger ng-binding" ng-bind="ViewModel.Resources.Required"></span>
                  </label>
                  <div class="col-sm-10">
                    <input type="file" ng-attr-id="{{'document_uploader_' + requiredDocument.Code}}" documentupload="" document="ViewModel.UploadableDocument" style="visibility: hidden; width: 1px; height: 1px;" class="ng-isolate-scope" id="document_uploader_ReportCard" accept="*">
                    <button class="btn btn-default ng-binding" ng-click="ViewModel.Upload(requiredDocument)" ng-bind="ViewModel.DataContext.DecodeURI(ViewModel.GetDocument(requiredDocument).Name) || ViewModel.Resources.Upload">Ministry of Education Presentation.pdf</button>
                  </div>
                </div>
                <!-- end ngRepeat: requiredDocument in ViewModel.RequiredDocuments -->
                <div class="form-group">
                  <div class="col-sm-10 offset-sm-2">
                    <button class="btn btn-warning ng-binding" type="button" ng-click="ViewModel.Proceed()" ng-disabled="!ViewModel.RequiredDocuments || ViewModel.UploadableDocument.IsUploading || ViewModel.IsSubmitting"> Next </button>
                  </div>
                </div>
              </div>
              <div class="row ng-hide" ng-show="ViewModel.UploadableDocument.IsUploading || ViewModel.IsSubmitting">
                <div class="progress" style="width: 150px; margin-left: auto; margin-right: auto;">
                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
              </div>
              <div class="row ng-hide" ng-show="ViewModel.HasElectricityLetter() >= 0">
                <div class="alert alert-warning">
                  <a href="https://www.km.com.qa/CustomerService/Pages/Certificate.aspx" target="_blank" ng-bind="ViewModel.Resources.GenerateKahramaLetter" class="ng-binding">In you do not have a KAHRAMAA letter, click the following link</a>
                </div>
              </div>
              <div class="row ng-hide" ng-show="ViewModel.Message">
                <div class="alert alert-danger ng-binding"></div>
              </div>
            </div>
            <div class="modal fade show" id="MdlAlertMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-modal="true" style="padding-right: 15px; display: block;">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close ng-hide" aria-label="Close" ng-click="ViewModel.Close()" ng-show="!ViewModel.DisplayAcceptCheckbox">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title ng-binding" id="myModalLabel" ng-bind="ViewModel.Resources['AlertMessageTitleResource']"></h4>
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-info">
                      <div ng-bind-html="ViewModel.GetSanitizedResource('AlertMessageResource')" class="ng-binding">I, the student’s guardian, acknowledge submitting the health file (medically fit) to the school administration before the start of the 2025/2026 academic year, and disclosing any condition the student suffers from (if he has a disability). In the event that the student’s health file is not completed (if it is proven by the health center that he is medically unfit or it is proven after registration that he suffers from another condition “disability”), there is no objection to transferring him to the Ru’ya Center for Evaluation, Consulting and Support affiliated with the Ministry of Education and Higher Education to follow up on the procedures by them regarding the student’s registration/non-registration.</div>
                    </div>
                    <div class="alert alert-warning ng-binding ng-hide" ng-show="ViewModel.Resources.AlertMessageFeedbackResource" ng-bind-html="ViewModel.GetSanitizedResource('AlertMessageFeedbackResource')"></div>
                  </div>
                  <div class="modal-footer">
                    <div class="checkbox mr-auto" ng-show="ViewModel.DisplayAcceptCheckbox">
                      <label>
                        <input type="checkbox" ng-model="ViewModel.IAcceptSelected" class="ng-pristine ng-untouched ng-valid">
                        <span ng-bind="ViewModel.Resources.IAccept" class="ng-binding">I accept above terms &amp; conditions</span>
                      </label>
                    </div>
                    <button type="reset" class="btn btn-default" ng-click="ViewModel.Close()" ng-disabled="ViewModel.DisplayAcceptCheckbox &amp;&amp; !ViewModel.IAcceptSelected" disabled="disabled">
                      <span ng-bind="ViewModel.Resources.AlertMessageCloseResource || ViewModel.Resources.Close" class="ng-binding">Close</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="tfooter show_mb_footer" style="height: auto;">
          <div class="row" style="margin-right: 0px; margin-left: 0px; padding-bottom: 15px;">
            <div class="col-3" style="text-align: center">
              <div>
                <a href="#" class="js-toggle-right-slidebar" onclick="document.getElementById('player').play()">
                  <i class="fa fa-bars" aria-hidden="true" style="color: #fff"></i>
                </a>
              </div>
              <div style="font-size: 14px"> Menu </div>
            </div>
            <div class="col-3" style="text-align: center">
              <div>
                <a href="/" target="_self">
                  <i class="fa fa-home" aria-hidden="true" style="color: #fff"></i>
                </a>
              </div>
              <div style="font-size: 14px"> Home </div>
            </div>
            <div class="col-4" style="text-align: center">
              <div style="position: relative;">
                <a href="/WebParts/Notifications" target="_self">
                  <i class="fa fa-commenting" aria-hidden="true" style="color: #fff"></i>
                  <span id="UnreadNotificationCountXS" class="badge badge-light" style="position: absolute; top: 0px; right: 0px; display: none;"></span>
                </a>
              </div>
              <div style="font-size: 14px"> Notifications </div>
            </div>
            <div class="col-2" style="text-align: center">
              <div>
                <a href="/logout.aspx">
                  <i class="fa fa-user-o" aria-hidden="true" style="color: #fff"></i>
                </a>
              </div>
              <div style="font-size: 14px"> Logout </div>
            </div>
          </div>
        </div>
        <div class="dt_footer">
          <br>
          <br>
          <div class="container-fluid container-fluid--cp-150">
            <div class="row">
              <div class="col">
                <p>
                  <a href="/TermsCondition.aspx" style="color: #fff;"> Terms and Conditions </a>
                </p>
              </div>
              <div class="col">
                <p>
                  <a href="/PrivacyPolicy.aspx" style="color: #fff;"> Privacy policy </a>
                </p>
              </div>
              <div class="col-lg-12">
                <br>
                <p> Copyright® 2024 Ministry of Education and Higher Education. All rights reserved </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div off-canvas="slidebar-2 right shift" id="mobile" style="margin-right: -235px;">
      <div>
        <button class="accordion" style="display: none">
          <span class="fa fa-bookmark-o" aria-hidden="true"></span> User's Manual </button>
        <div class="side_panel">
          <div class="s_b_lnk">
            <a href="https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%A7%D8%B5%D8%AF%D8%A7%D8%B1%20%D8%A7%D9%84%D8%B4%D9%87%D8%A7%D8%AF%D8%A7%D8%AA.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Certificate issuance service </a>
          </div>
          <div class="s_b_lnk">
            <a href="https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%B1%D8%B3%D9%88%D9%85%20%D8%A7%D9%84%D9%83%D8%AA%D8%A8%20%D9%88%20%D8%A7%D9%84%D9%85%D9%88%D8%A7%D8%B5%D9%84%D8%A7%D8%AA.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Books and transportation fees </a>
          </div>
          <div class="s_b_lnk">
            <a href="https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%B1%D8%B3%D9%88%D9%85%20%D8%AA%D8%B3%D8%AD%D9%8A%D9%84-%D8%AA%D8%B9%D9%84%D9%8A%D9%85%20%D8%A7%D9%84%D9%83%D8%A8%D8%A7%D8%B1.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Registration fee service - Adult Education </a>
          </div>
          <div class="s_b_lnk">
            <a href=" https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%A7%D9%84%D8%AA%D8%AD%D9%82%D9%82%20%D9%85%D9%86%20%D8%A7%D9%84%D8%B4%D9%87%D8%A7%D8%AF%D8%A7%D8%AA.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Certificate Verification Service </a>
          </div>
          <div class="s_b_lnk">
            <a href="https://certificate.edu.gov.qa/Lists/HETemplates/%D8%A7%D9%84%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A5%D8%B1%D8%B4%D8%A7%D8%AF%D9%8A%20-%20%D8%A7%D9%84%D9%85%D8%B3%D8%AA%D8%AF%D8%A7%D8%AA%20%D8%A7%D9%84%D9%85%D8%B7%D9%84%D9%88%D8%A8%D8%A9%20%D9%84%D9%85%D8%B9%D8%A7%D8%AF%D9%84%D8%A9%20%D8%A7%D9%84%D8%B4%D9%87%D8%A7%D8%AF%D8%A7%D8%AA.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> University degree equivalency service </a>
          </div>
          <div class="s_b_lnk">
            <a href="https://certificate.edu.gov.qa/Lists/HETemplates/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%20%D9%86%D8%B8%D8%A7%D9%85%20%D9%85%D8%B9%D8%A7%D8%AF%D9%84%D8%A9%20%D8%A7%D9%84%D8%B4%D9%87%D8%A7%D8%AF%D8%A7%D8%AA%20%D8%A7%D9%84%D9%85%D8%AF%D8%B1%D8%B3%D9%8A%D8%A9.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> School certificate equivalency service </a>
          </div>
          <div class="s_b_lnk">
            <a href="https://fs-nsis.edu.gov.qa/EduServices/Transfer%20user%20manual.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Online transfer service in public schools. </a>
          </div>
          <div class="s_b_lnk">
            <a href="https://fs-nsis.edu.gov.qa/EduServices/Registration%20user%20manual.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Online registration service in public schools </a>
          </div>
          <div class="s_b_lnk">
            <a href="https://fs-nsis.edu.gov.qa/EduServices/%D8%AF%D9%84%D9%8A%D9%84%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%AE%D8%AF%D8%A7%D9%85%20%D9%84%D8%AE%D8%AF%D9%85%D8%A9%20%D8%A7%D8%B3%D8%AA%D8%AB%D9%86%D8%A7%D8%A1%20%D8%A3%D8%A8%D9%86%D8%A7%D8%A1%20%D8%A7%D9%84%D9%85%D9%82%D9%8A%D9%85%D9%8A%D9%86%20%D8%A7%D9%84%D8%B9%D8%A7%D9%85%D9%84%D9%8A%D9%86%20%D8%A8%D8%A7%D9%84%D9%82%D8%B7%D8%A7%D8%B9%20%D8%A7%D9%84%D8%AE%D8%A7%D8%B5%20%D9%84%D8%A5%D9%84%D8%AD%D8%A7%D9%82%D9%87%D9%85%20%D8%A8%D8%A7%D9%84%D9%85%D8%AF%D8%A7%D8%B1%D8%B3%20%D8%A7%D9%84%D8%AD%D9%83%D9%88%D9%85%D9%8A%D8%A9.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Excemption to enroll children of residents employed in the private sector in public schools </a>
          </div>
          <div class="s_b_lnk">
            <a href="https://fs-nsis.edu.gov.qa/EduServices/Extra%20service%20user%20manual.pdf" target="_blank">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Additional services for student registration and transfer in public schools </a>
          </div>
        </div>
        <button class="accordion">
          <span class="fa fa-bookmark-o" aria-hidden="true"></span> FAQ's </button>
        <div class="side_panel">
          <div class="s_b_lnk">
            <a href="/FAQ/hr.aspx">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Human Resource </a>
          </div>
          <div class="s_b_lnk">
            <a href="/FAQ/Voucher.aspx">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Educational Vouchers </a>
          </div>
          <div class="s_b_lnk">
            <a href="/FAQ/Scholarship.aspx">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Scholarships </a>
          </div>
          <div class="s_b_lnk">
            <a href="/FAQ/Pso.aspx">
              <span class="fa fa-caret-left" aria-hidden="true"></span> Private Schools </a>
          </div>
          <div class="s_b_lnk">
            <a href="/FAQ/SchoolAffair.aspx">
              <span class="fa fa-caret-left" aria-hidden="true"></span> School Affairs </a>
          </div>
          <div class="s_b_lnk">
            <a href="/FAQ/UniEquCertificate.aspx">
              <span class="fa fa-caret-left" aria-hidden="true"></span> University Degrees Equivalency </a>
          </div>
        </div>
        <div class="link_accordion">
          <a href="https://surveys.education.qa/s/FQ8SIY/" target="_blank">
            <span class="fa fa-bookmark-o" aria-hidden="true"></span> Submit a Request to H.E. the Minister» </a>
        </div>
        <div class="link_accordion">
          <a href="/PrivacyPolicy.aspx">
            <span class="fa fa-bookmark-o" aria-hidden="true"></span> Privacy policy» </a>
        </div>
        <div class="link_accordion">
          <a href="/TermsCondition.aspx">
            <span class="fa fa-bookmark-o" aria-hidden="true"></span> Terms and conditions» </a>
        </div>
        <div class="link_accordion">
          <a href="javascript:toggleLanguage()">
            <i class="fa fa-language" style="font-size: 18px;"></i> عربي </a>
        </div>
        <br>
      </div>
      <br>
      <br>
      <div id="info_btm"> &nbsp; <strong>Social Media :</strong>
        <br>
        <div style="margin-right: 15px; padding: 3px; display: flex; align-items: center; gap: 10px;">
          <a href="https://www.facebook.com/Qatar.edu" target="_blank" style="color: rgb(255, 255, 255); font-size: 26pt;">
            <i class="fa fa-facebook-square fa-3" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/Qatar_edu" target="_blank">
            <img src="/asset/images/twitter.png">
          </a>
          <a href="https://www.instagram.com/Qatar_edu/" target="_blank" style="color: rgb(255, 255, 255); font-size: 26pt;">
            <i class="fa fa-instagram fa-3" aria-hidden="true"></i>
          </a>
        </div> &nbsp; <strong>Contact us:</strong>
        <div style="margin-right: 15px; padding: 3px">
          <i class="fa fa-envelope fa-3" aria-hidden="true"></i>info@edu.gov.qa <br>
          <i class="fa fa-phone-square fa-3" aria-hidden="true"></i>&nbsp; <a href="#" style="color: #ffffff">155</a>
          <br> Copyright® 2024 Ministry of Education and Higher Education. All rights reserved <br>
        </div>
      </div>
    </div>
    <script src="https://eduservices.edu.gov.qa/asset//Scripts/modernizr-2.6.2.js"></script>
    <script src="https://eduservices.edu.gov.qa/asset//Scripts/jquery3.js?i=5"></script>
    <script src="https://eduservices.edu.gov.qa/asset//Scripts/bootstrap.js"></script>
    <script src="https://eduservices.edu.gov.qa/asset//Scripts/owl.carousel.min.js"></script>
    <script src="https://eduservices.edu.gov.qa/asset//Scripts/slidebars_en.js"></script>
    <script type="text/javascript" src="https://eduservices.edu.gov.qa/asset//Scripts/mobile.js"></script>
    <script src="https://eduservices.edu.gov.qa/assets/js/main.js"></script>
    <script>
      $(document).ready(function() {
        $('#bwButton').click(function() {
          $('body').toggleClass('black-and-white');
        });
        if (window.sessionStorage) {
          //    console.info("$(window).on('storage' registered ");
          //    $(window).on('storage', function (e) {
          //        console.info("storage event : " + (e.originalEvent.storageArea === sessionStorage));
          //        UnreadNotificationCount();
          //    });
          //    UnreadNotificationCount();
          UnreadNotificationCount();
        }
      });

      function UnreadNotificationCount() {
        let unreadNotificationCount = sessionStorage.getItem("UnreadNotificationCount");
        if (unreadNotificationCount) {
          if (document.getElementById("UnreadNotificationCount")) {
            document.getElementById("UnreadNotificationCount").innerHTML = unreadNotificationCount;
            document.getElementById("UnreadNotificationCount").style.display = 'block';
          }
          if (document.getElementById("UnreadNotificationCountXS")) {
            document.getElementById("UnreadNotificationCountXS").innerHTML = unreadNotificationCount;
            document.getElementById("UnreadNotificationCountXS").style.display = 'block';
          }
        }
        window.setTimeout(() => {
          UnreadNotificationCount();
        }, 2000)
      }
      let currentsize = 0;
      $(document).ready(function() {
        $('#normalFontButton').click(function() {
          var elements = $('*');
          elements.each(function() {
            var currentFontSize = parseInt($(this).css('font-size'));
            var newFontSize = currentFontSize - currentsize
            $(this).css('font-size', newFontSize + 'px');
          });
          currentsize = 0;
        });
        $('#increaseFontButton').click(function() {
          var elements = $('*');
          currentsize = currentsize + 1
          elements.each(function() {
            var currentFontSize = parseInt($(this).css('font-size'));
            if (currentsize > 2) return;
            var newFontSize = currentFontSize + 1;
            $(this).css('font-size', newFontSize + 'px');
          });
        });
        $('#decreaseFontButton').click(function() {
          if (currentsize < -2) return;
          currentsize = currentsize - 1
          var elements = $('*');
          elements.each(function() {
            var currentFontSize = parseInt($(this).css('font-size'));
            var newFontSize = currentFontSize - 1;
            $(this).css('font-size', newFontSize + 'px');
          });
        });
      });
    </script>
    <script id="f5_cspm">
      (function() {
        var f5_cspm = {
          f5_p: 'GBPEEAPBEDBPEDPEJBFKLPLBOEFBMNFLOMPCFHKEANPIEFPLHKJJLPELNEDNPLMEFKIBBJDLFHHOEFFBMHDAFOADAFKOEJIAKKANCNMJHFJIDNBPDGOMEEECFNKONOLB',
          setCharAt: function(str, index, chr) {
            if (index > str.length - 1) return str;
            return str.substr(0, index) + chr + str.substr(index + 1);
          },
          get_byte: function(str, i) {
            var s = (i / 16) | 0;
            i = (i & 15);
            s = s * 32;
            return ((str.charCodeAt(i + 16 + s) - 65) < < 4) | (str.charCodeAt(i + s) - 65);
          },
          set_byte: function(str, i, b) {
            var s = (i / 16) | 0;
            i = (i & 15);
            s = s * 32;
            str = f5_cspm.setCharAt(str, (i + 16 + s), String.fromCharCode((b >> 4) + 65));
            str = f5_cspm.setCharAt(str, (i + s), String.fromCharCode((b & 15) + 65));
            return str;
          },
          set_latency: function(str, latency) {
            latency = latency & 0xffff;
            str = f5_cspm.set_byte(str, 40, (latency >> 8));
            str = f5_cspm.set_byte(str, 41, (latency & 0xff));
            str = f5_cspm.set_byte(str, 35, 2);
            return str;
          },
          wait_perf_data: function() {
            try {
              var wp = window.performance.timing;
              if (wp.loadEventEnd > 0) {
                var res = wp.loadEventEnd - wp.navigationStart;
                if (res < 60001) {
                  var cookie_val = f5_cspm.set_latency(f5_cspm.f5_p, res);
                  window.document.cookie = 'f5avr0145990953aaaaaaaaaaaaaaaa_cspm_=' + encodeURIComponent(cookie_val) + ';path=/;' + '';
                }
                return;
              }
            } catch (err) {
              return;
            }
            setTimeout(f5_cspm.wait_perf_data, 100);
            return;
          },
          go: function() {
            var chunk = window.document.cookie.split(/\s*;\s*/);
            for (var i = 0; i < chunk.length; ++i) {
              var pair = chunk[i].split(/\s*=\s*/);
              if (pair[0] == 'f5_cspm' && pair[1] == '1234') {
                var d = new Date();
                d.setTime(d.getTime() - 1000);
                window.document.cookie = 'f5_cspm=;expires=' + d.toUTCString() + ';path=/;' + ';';
                setTimeout(f5_cspm.wait_perf_data, 100);
              }
            }
          }
        }
        f5_cspm.go();
      }());
    </script>
    <div class="modal-backdrop fade show"></div>
  </body>
</html>